
/* general settings for main sections */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5deb3;
    font-family: 'Zen Dots', cursive;
    color: #5e705b;
}

span {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75em;
}

header {
    text-align: center;
    margin: 5px;
    text-shadow: 1px 1px #000000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* setting text-decoration on the links in the dropdown menu */

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #d0f0c0;
    font-size: 2vw;
    text-shadow: none;
}

/* setting the background colour of the links in the dropdown menu */

#about {
    background-color: #757575;
}

#projects {
    background-color: #696969;
}

#blog {
    background-color: #5e5e5e;
}

#skills {
    background-color: #4f4f4f;
}

#contact {
    background-color: #404040;
}

/* font sizes */

h1 {
    font-size: 7vw;
}

h3 {
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

/* image takes you to homepage */

img {
    float: left;
    margin: 10px;
    max-width: 15vw;
}

/* technology images */

.technologies {
    display: flex;
    flex-flow: row wrap;
    padding: 4%;
    margin: 3% auto 10% auto;
    justify-content: center;
}

/* main text */

.specials-container {
    display: block;
    padding: 0 10% 10% 10%;
    margin: 3% auto 10% auto;
}

.specials {
    color: black;
    border-top: 35px solid #edeae1;
    border-bottom: 35px solid #edeae1;
    border-left: 35px solid #5e705b;
    background-color: #edeae1;
    padding: 5px;
}

/* settings for screens 701px to 900px wide */

@media screen and (max-width:900px) {
    body {
        background-color: #c2a98c;
    } 
    header {
        margin-top: 10%;
    }
    a {
        font-size: 1.5em
      }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
     }
}    

/* settings for screens up to 700px wide */

@media screen and (max-width:700px) {
    body {
        background-color: #dccdbc;
        margin-top: 30px;
    } 
    a {
        font-size: 1.5em;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    header {
        margin: 5px 5px 30px 5px;
    }
}

/* dropdown menu */

.button {
    background-color: #5e705b;
    color: white;
    font-size: 5vw;
    font-family: 'Zen Dots', cursive;
    width: 100%;
    padding: 4px;
}
  
.drop {
    position: relative;
    display: block;
    align-items: center;
}

.content {
    display: none;
    position: relative;
}

.content a {
    padding: 12px;
    display: block;
}

.drop:hover .content {
    display: block;
}