
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  p {
      font-size: 40px;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* setting the header properties */

/* header {
    height: 
}

#main-title {
    font-size: 50px;
    text-align: center;
    margin: 5%;
}

#main-subtitle {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

div {
    position: relative;
    overflow: hidden;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 30%;
    height: auto;
}

div p {
    z-index: -1;

}

img:hover {
    opacity: 1;
    transition: opacity 1s;
}

heading {
    text-align: center;
    position: absolute;
}

footer {
    width: 70%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    margin: 5%;
    padding: 10px;
}
  
.dropdown {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  width: auto;
}

.dropdown-list {
  display: none;
  position: absolute;
  width: auto;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-list li {
  padding: 2px 2px;
  display: inline;
  list-style-type: none;
  width: 100%;
  float: inherit;
}

.dropdown:hover .dropdown-list {display: block;}

.dropdown > ul > li {
    position: relative;
    float: inherit;
    list-style: none;
    display: block;
} */

/* setting the background colour of the list items in the dropdown menu */

/* #about {
    background-color: #b0b98c;
}

#projects {
    background-color: #4a0d12;
}

#blog {
    background-color: #f0ecbb;
}

#resume {
    background-color: #ad221a;
}

#skills {
    background-color: #f5f4e6;
}

#technologies {
    background-color:#e2e6e1;
} */

/* setting text-decoration on the links in the dropdown menu */

/* a {
    text-decoration: none;
    color: #5a6358;
}

a:hover {
    text-decoration: underline;
  } */

  body {
    background-color: peru;
  }
  
  /* @media screen and (max-width:600px) {
    body {
      background-color: seagreen;
    } */
  
  @media screen and (max-width:900px) {
    body {
      background-color: aquamarine;
    }  
  
  h1 {
    font-size: 20vw;
  }
  
  h3 {
    font-size: 15vw;
  }
  
  p {
    font-size: 10vw;
  }
  
  li {
    font-size: 10vw;
  }